body {
    margin: 0px;
    height: 680px;
    font-family: 'Scheherazade New', serif;
    background-image: url(./img/herramientas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: block;
    justify-content: center;
    align-content: center;
}

.formulario {
    background-color: #b71234;
    width: 90%;
    height: 80%;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

form {
    margin: 30px;
}

input {
    border-radius: 5px;
    background-color: rgb(247, 189, 189);
    width: 200px;
    height: 20px;
}

.comentario {
    display: flex;
    justify-content: center;
}

.text {
    width: 80%;
    height: 200px;
    font-family: 'Scheherazade New', serif;
    font-size: 15px;
    color: black;
    background-color: rgb(247, 189, 189);
    margin: 10px;
}

::placeholder {
    text-align: center;
}

select {
    border-radius: 5px;
    background-color: rgb(247, 189, 189);
    font-family: 'Scheherazade New', serif;
    font-size: 20px;
    color: black;
    width: 80%;
}

.enviar {
    display: flex;
    justify-content: center;
}

.boton {
    color: #b71234;
    background-color: rgb(247, 189, 189);
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px;
    width: 70px;
    height: 40px;
    margin: 20px;
}

@media (max-width: 1024px) {
    body {
        height: 780px;
    }
}

@media (max-width: 768px) {
    body {
        height: 1030px;
    }
}

@media (max-width:400px) {
    body {
        height: 680px;
    }
}